/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
  
  
}

/* body {
  font-family: "Poppins", sans-serif;
} */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6565656a;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.rainbow {
  width: 100%;
  height: 100%;
  animation: o-rotate-360 linear 8s infinite;
}

.rainbow span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transform: translate(-50%, -50%);
}

.rainbow span:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
}

.rainbow span:first-child {
  background: #65587f;
}

.rainbow span:first-child:after {
  background: #f17767;
}

.rainbow span:last-child {
  background: #665fe8;
}

.rainbow span:last-child:after {
  background: #5078bd;
}
.zoom {
  opacity: 0.95;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}

.zoom:hover {
  opacity: 1;
  transform: scale(1.03);
  -webkit-transition:  0.22s ease-in;
  transition:  0.22s ease-in;

  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.zoom-img {
  transition: .22s ease-in;
  -webkit-transition:  0.22s ease-in;
  opacity: 0.95;
  /* Animation */

}

.zoom-img:hover {
  opacity: 1;
    transform: scale(1.05);
  -webkit-transition:  0.22s ease;
  transition: 0.22s ease;

  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}